.app__hero-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .app__hero-content img{
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 650px) {
    .app__hero-content img{
        width: 100%;
        height: 240px;
    }
}